## Part 4: Pandas Dataframes

Ref: <https://miamioh.edu/centers-institutes/center-for-analytics-data-science/students/coding-tutorials/python/pandas-dataframes.html>

- Topic 1: What is a Dataframe
- Topic 2: Creating a Dataframe
- Topic 3: Looking at the Data

### Topic 1: What is a Dataframe

A **dataframe** is a data structure constructed with rows and columns, similar to a **database** or **Excel spreadsheet**. It consists of **a dictionary of lists** in which the list each have their own identifiers or keys, such as “last name” or “food group.”

- Dataframe | Database | Excel Spreadsheet
- Identifier | Key

### Topic 2: Creating a Dataframe

In [148]:
Dict = {
    "key": "Value",
    "key1": "Value1",
    "key2": "Value2"
}
Dict

{'key': 'Value', 'key1': 'Value1', 'key2': 'Value2'}

In [149]:
import pandas as pd
Dict = {
    'Student Last': ['Smith', 'Johnson'],
    'Student First': ['John', 'Mary'],
    'Graduation': [2020, 2019],
    'GPA': [3.45, 3.20]
}
df = pd.DataFrame(Dict)
# You have to capitalize both the D and the F in DataFrame
df

  Student Last Student First  Graduation   GPA
0        Smith          John        2020  3.45
1      Johnson          Mary        2019  3.20

### Topic 3: Looking at the Data

In [150]:
students = {
    'Last Name': ['Smith', 'Johnson', 'Evans', 'Waters'],
    'First Name': ['John', 'Mary', 'Herry', 'Kate'],
    'Graduation': [2020, 2019, 2017, 2020],
    'GPA': [3.45, 3.20, 2.80, 3.15]
}
sdf = pd.DataFrame(students, index=(['Student 1', 'Student 2', 'Student 3', 'Student 4']))
sdf

          Last Name First Name  Graduation   GPA
Student 1     Smith       John        2020  3.45
Student 2   Johnson       Mary        2019  3.20
Student 3     Evans      Herry        2017  2.80
Student 4    Waters       Kate        2020  3.15

In [151]:
sdf.head()

          Last Name First Name  Graduation   GPA
Student 1     Smith       John        2020  3.45
Student 2   Johnson       Mary        2019  3.20
Student 3     Evans      Herry        2017  2.80
Student 4    Waters       Kate        2020  3.15

In [152]:
sdf.tail()

          Last Name First Name  Graduation   GPA
Student 1     Smith       John        2020  3.45
Student 2   Johnson       Mary        2019  3.20
Student 3     Evans      Herry        2017  2.80
Student 4    Waters       Kate        2020  3.15

In [153]:
print(sdf['GPA'])

Student 1    3.45
Student 2    3.20
Student 3    2.80
Student 4    3.15
Name: GPA, dtype: float64

In [154]:
print(sdf[['GPA', 'Last Name']]) # DOUBLE BRACKETS

            GPA Last Name
Student 1  3.45     Smith
Student 2  3.20   Johnson
Student 3  2.80     Evans
Student 4  3.15    Waters

In [155]:
print(sdf[:3])

          Last Name First Name  Graduation   GPA
Student 1     Smith       John        2020  3.45
Student 2   Johnson       Mary        2019  3.20
Student 3     Evans      Herry        2017  2.80

In [156]:
print(sdf[1:3])

          Last Name First Name  Graduation  GPA
Student 2   Johnson       Mary        2019  3.2
Student 3     Evans      Herry        2017  2.8

In [157]:
print(sdf.GPA[2])

2.8

/var/folders/v2/c8px5fns1w748m1rlnxfkvhh0000gn/T/ipykernel_36086/4172674872.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sdf.GPA[2])

### Appendix: Common Dictionary Methods in Python

| Method | Description |
| ------ | ----------- |
| `dict.clear()` | Removes all items from the dictionary. |
| `dict.copy()` | Returns a shallow copy of the dictionary. |
| `dict.fromkeys(seq, value)` | Creates a new dictionary with keys from the `seq` and values set to `value`. |
| `dict.get(key, default)` | Returns the value for the given `key`, or `default` if the key is not found. |
| `dict.items()` | Returns a view of key-value pairs in the dictionary. |
| `dict.keys()` | Returns a view of the keys in the dictionary. |
| `dict.values()` | Returns a view of the values in the dictionary. |
| `dict.pop(key, default)` | Removes the item with `key` from the dictionary and returns its value, or `default` if the key is not found. |
| `dict.popitem()` | Removes and returns a random key-value pair from the dictionary. |
| `dict.setdefault(key, default)` | Returns the value for the given `key`, and sets it to `default` if the key is not found. |
| `dict.update(other_dict)` | Updates the dictionary with key-value pairs from `other_dict`. |
| `dict.__contains__(key)` | Checks if the dictionary contains the specified key, equivalent to `key in dict`. |
| `dict.__delitem__(key)` | Deletes the item with the specified key from the dictionary, equivalent to `del dict[key]`. |
| `dict.__getitem__(key)` | Retrieves the value associated with the key, equivalent to `dict[key]`. |
| `dict.__setitem__(key, value)` | Sets the value associated with the key, equivalent to `dict[key] = value`. |
| `dict.pop(key)` | Removes the item with `key` from the dictionary and raises a KeyError if the key is not found. |
| `dict.setdefault(key)` | Returns the value for the given `key`, and sets it to `None` if the key is not found. |
| `dict.update(key1=value1, key2=value2, ...)` | Updates the dictionary with multiple key-value pairs as arguments. |

## Part 5: Reading Data and Writing Files

Ref: <https://miamioh.edu/centers-institutes/center-for-analytics-data-science/students/coding-tutorials/python/reading-data-and-writing-files.html>

- Topic 1: Reading .csv, .txt, .xlsx Files
    1. Reading in .csv Using read_csv() Function
    2. Reading in .txt Using open() Function
    3. Reading Data using .xlsx
- Topic 2: Reading in Data From URLs
- Topic 3: Writing Data to .csv, .xlsx

### Topic 1: Reading .csv, .txt, .xlsx Files

- Pandas User Guide, <https://pandas.pydata.org/docs/user_guide/index.html>

**Reading in .csv Using read_csv() Function**

In [158]:
# import pandas as pd
# df = pd.read_csv("example.csv")

**Reading in .txt Using open() Function**

In [159]:
# Data = open("example.txt", "r") # open the file in read mode
# Data = open("example.txt", "w") # open the file in write mode
# Data = open("example.txt", "a") # open the file in append mode

In [160]:
# Data.read()
# Data.readline()

In [161]:
# Data.close()

**Reading Data using .xlsx**

In [162]:
# sheet1 = pd.read_excel('example.xlsx', sheet_name = 0) # you can use the actual sheet name or the index

### Topic 2: Reading in Data From URLs

In [163]:
# Import package
from urllib.request import urlretrieve

In [164]:
# Assign url of file: url
url = 'https://raw.githubusercontent.com/Tanishqa-10/AskPython/main/Sampledata.csv'

In [165]:
# Save file locally
urlretrieve(url, 'Sampledata.csv')

('Sampledata.csv', <http.client.HTTPMessage at 0x110a67690>)

In [166]:
# Read file into a DataFrame and print the first few rows
df = pd.read_csv('Sampledata.csv') # The `sep` function lets you change what delimitter is being used
print(df.head())

      Name Last Name Member    City Code  Amount
0      Jim       Doe     No    Ohio   JD    8075
1     Gill  McGinnis    Yes   Texas   GM    9119
2      Joe    Repici    Yes  Bostan   JR    8075
3  Stephen     Tyler     No      LA   ST   91234
4    Oscar  Blankman     No     NYC   OB     298

### Topic 3: Writing Data to .csv, .xlsx

In [167]:
data = {
    'column1': ['Hey', 'Hello', 'How are you'],
    'column2': [1, 2, 3],
    'column3': [4, 5, 6]
} # Use a dictionary to create a dataframe
Exapmle = pd.DataFrame(data=data)
Exapmle.to_csv('Outputfile.csv')
# Exapmle.to_excel('Outputfile.xlsx', sheet_name = 'Introductions')

## Part 6: Data Cleaning

Ref: <https://miamioh.edu/centers-institutes/center-for-analytics-data-science/students/coding-tutorials/python/data-cleaning.html>

- Step 1: Understanding the Data
- Step 2: Check Missing Values
- Step 3: Get Information about Missing Values
- Step 4: Fill In Missing Values
- Step 5: Dropping Data
- Step 6: Subsetting

## Part 7: Managing Data

Ref: 
1. <https://miamioh.edu/centers-institutes/center-for-analytics-data-science/students/coding-tutorials/python/managing-data.html>
2. <https://miamioh.edu/centers-institutes/center-for-analytics-data-science/students/coding-tutorials/python/beginners/managing-data.html>

- Topic 1: Looking at Data Types
- Topic 2: Concat
- Topic 3: Join

1. Understanding Pandas DataFrame
2. Creating DataFrames
3. Rename Columns
4. Read Values in Dataframes
5. Change Data Types
6. Combining Datasets
7. Concatenate
8. Joint Dataframes
9. Merge Dataframes
10. Sort Data

### 3. Creating DataFrames

In [168]:
import pandas as pd 
import numpy as np

df1 = pd.DataFrame({'Student Last': ['Smith', 'Johnson'], 
                    'Student First': ['John', 'Mary'], 
                    'Graduation': [2020, 2019],
                    'GPA': [3.45, 3.20]})
df1

  Student Last Student First  Graduation   GPA
0        Smith          John        2020  3.45
1      Johnson          Mary        2019  3.20

In [169]:
df1 = pd.DataFrame({'Student Last': ['Smith', 'Johnson'], 
                    'Student First': ['John', 'Mary'], 
                    'Graduation': [2020, 2019],
                    'GPA': [3.45, 3.20]}, 
                    index = ['Student 1', 'Student 2'])
df1

          Student Last Student First  Graduation   GPA
Student 1        Smith          John        2020  3.45
Student 2      Johnson          Mary        2019  3.20

### 3. Rename Columns

In [170]:
df1.columns = ["Last Name", "First Name", "Graduation Year", "Avg GPA"]
print(df1)

          Last Name First Name  Graduation Year  Avg GPA
Student 1     Smith       John             2020     3.45
Student 2   Johnson       Mary             2019     3.20

### 4. Read Values in Dataframes

In [171]:
import pandas as pd

student_index = ['Student 1', 'Student 2', 'Student 3', 'Student 4']
df = pd.DataFrame({'Student Last': ['Smith', 'Johnson','Evans', 'Waters'],
                  'Student First': ['John', 'Mary', 'Henry', 'Kate'],
                  'Graduation': [2020, 2019, 2017, 2020],
                  'GPA': [3.45, 3.20, 2.80, 3.15]},
                 index=student_index
                 )
df

          Student Last Student First  Graduation   GPA
Student 1        Smith          John        2020  3.45
Student 2      Johnson          Mary        2019  3.20
Student 3        Evans         Henry        2017  2.80
Student 4       Waters          Kate        2020  3.15

In [172]:
GPAs = df['GPA']
print(GPAs)

Student 1    3.45
Student 2    3.20
Student 3    2.80
Student 4    3.15
Name: GPA, dtype: float64

In [173]:
GPAs_Last = df[['GPA', 'Student Last']]
print(GPAs_Last)

            GPA Student Last
Student 1  3.45        Smith
Student 2  3.20      Johnson
Student 3  2.80        Evans
Student 4  3.15       Waters

In [174]:
three_students = df[:3]
print(three_students)

          Student Last Student First  Graduation   GPA
Student 1        Smith          John        2020  3.45
Student 2      Johnson          Mary        2019  3.20
Student 3        Evans         Henry        2017  2.80

In [175]:
middle_two = df[1:3]
print(middle_two)

          Student Last Student First  Graduation  GPA
Student 2      Johnson          Mary        2019  3.2
Student 3        Evans         Henry        2017  2.8

In [176]:
third_GPA = df['GPA'][ student_index[2] ]
print("{}'s GPA = {}".format(student_index[2], third_GPA))

Student 3's GPA = 2.8

### 5. Change Data Types

In [177]:
df5 = pd.DataFrame({'Student Last': ['Smith', 'Johnson'], 
                    'Student First': ['John', 'Mary'], 
                    'Graduation': [2020, 2019],
                    'GPA': [3.45, 3.20]}) 
print(df5.dtypes)

Student Last      object
Student First     object
Graduation         int64
GPA              float64
dtype: object

In [178]:
df5['GPA'] = df5['GPA'].astype(np.int64)
print(df5.dtypes)

Student Last     object
Student First    object
Graduation        int64
GPA               int64
dtype: object

In [179]:
# df5['GPA'] = df5['GPA'].astype(np.str)
# print(df5.dtypes)

### 6. Combining Datasets

### 7. Concatenate

In [180]:
df1 = pd.DataFrame({'Student Last': ['Smith', 'Johnson'], 
                    'Student First': ['John', 'Mary'], 
                    'Graduation': [2020, 2019],
                    'GPA': [3.45, 3.20]}, 
                    index = ['Student 1', 'Student 2'])
df1

          Student Last Student First  Graduation   GPA
Student 1        Smith          John        2020  3.45
Student 2      Johnson          Mary        2019  3.20

In [181]:
# construct second DataFrame
df2 = pd.DataFrame({'Student Last': ['Evans', 'Waters'],
                    'Student First': ['Henry', 'Kate'], 
                    'Graduation': [2017, 2020],
                    'GPA': [2.80, 3.15]}, 
                    index = ['Student 3', 'Student 4'])
df2

          Student Last Student First  Graduation   GPA
Student 3        Evans         Henry        2017  2.80
Student 4       Waters          Kate        2020  3.15

In [182]:
result = pd.concat([df1, df2]) # combines data on axis 0 (groups by columns)
print(result)

          Student Last Student First  Graduation   GPA
Student 1        Smith          John        2020  3.45
Student 2      Johnson          Mary        2019  3.20
Student 3        Evans         Henry        2017  2.80
Student 4       Waters          Kate        2020  3.15

In [183]:
result = pd.concat([df1, df2], axis = 1)  # combines data on axis 1 (groups by rows) 
print(result)

          Student Last Student First  Graduation   GPA Student Last  \
Student 1        Smith          John      2020.0  3.45          NaN
Student 2      Johnson          Mary      2019.0  3.20          NaN
Student 3          NaN           NaN         NaN   NaN        Evans
Student 4          NaN           NaN         NaN   NaN       Waters

          Student First  Graduation   GPA
Student 1           NaN         NaN   NaN
Student 2           NaN         NaN   NaN
Student 3         Henry      2017.0  2.80
Student 4          Kate      2020.0  3.15

In [184]:
pd.concat([df1,df2]).drop_duplicates().reset_index(drop=True)

  Student Last Student First  Graduation   GPA
0        Smith          John        2020  3.45
1      Johnson          Mary        2019  3.20
2        Evans         Henry        2017  2.80
3       Waters          Kate        2020  3.15

### 8. Joint Dataframes

In [185]:
students_A = pd.DataFrame({'Student A': ['Smith', 'John', 2020, 3.45],
                           'Student B': ['Johnson', 'Mary', 2019, 3.20]},
                            index = ['last name', 'first name', 'graduation year', 'GPA'])

students_B = pd.DataFrame({'Student C': ['Evans', 'Henry', 2017, 2.80],
                           'Student D': ['Waters', 'Kate', 2020, 3.15]},
                            index = ['last name', 'first name', 'graduation year', 'GPA'])
print(students_A)
print(students_B)

                Student A Student B
last name           Smith   Johnson
first name           John      Mary
graduation year      2020      2019
GPA                  3.45       3.2
                Student C Student D
last name           Evans    Waters
first name          Henry      Kate
graduation year      2017      2020
GPA                   2.8      3.15

In [186]:
results = students_A.join(students_B)
print(results)

                Student A Student B Student C Student D
last name           Smith   Johnson     Evans    Waters
first name           John      Mary     Henry      Kate
graduation year      2020      2019      2017      2020
GPA                  3.45       3.2       2.8      3.15

### 9. Merge Dataframes

In [187]:
df3 = pd.DataFrame({'student ID': [55678, 58679], # primary key 
                    'academic year': ['Freshman', 'Sohpomore']})

df4 = pd.DataFrame({'student ID': [55678, 58679], # primary key
                    'Residence Hall': ['McBride', 'Daniels']})

print(df3)
print(df4)

   student ID academic year
0       55678      Freshman
1       58679     Sohpomore
   student ID Residence Hall
0       55678        McBride
1       58679        Daniels

In [188]:
results = pd.merge(df3, df4, on = 'student ID') # uses the primary key to match data with a specific student ID
print(results)

   student ID academic year Residence Hall
0       55678      Freshman        McBride
1       58679     Sohpomore        Daniels

### 10. Sort Data

Definition : `sort(columns=None, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

In [189]:
# df.sort(columns="GPA")
# df.sort(columns=["Graduation","GPA"])

AttributeError: 'DataFrame' object has no attribute 'sort'

### 补充：pandas.DataFrame.replace

Ref: <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html>

#### Examples

In [194]:
df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
                   'B': ['abc', 'bar', 'xyz']})
df

      A    B
0   bat  abc
1   foo  bar
2  bait  xyz

In [195]:
# df.replace(to_replace=r'^ba.$', value='new', regex=True)
# df.replace({'A': r'^ba.$'}, {'A': 'new'}, regex=True)
df.replace(regex=r'^ba.$', value='new')

      A    B
0   new  abc
1   foo  new
2  bait  xyz

In [196]:
df.replace(regex={r'^ba.$': 'new', 'foo': 'xyz'})

      A    B
0   new  abc
1   xyz  new
2  bait  xyz

In [197]:
df.replace(regex=[r'^ba.$', 'foo'], value='new')

      A    B
0   new  abc
1   new  new
2  bait  xyz

## Part 8: Visualization

Ref: https://miamioh.edu/centers-institutes/center-for-analytics-data-science/students/coding-tutorials/python/visualization.html

- Bar Charts
- Line Plots
- Scatter Plots
- Histogram