# PyMySQL-01: Introduction

## 1. Why Do We Need PyMySQL?

In real-world applications, data is rarely stored only in files such as `.txt` or `.json`.
Most systems use **databases** to store, query, and manage data efficiently.

**MySQL** is one of the most popular relational databases.
**PyMySQL** is a **pure Python library** that allows Python programs to communicate with MySQL.

With PyMySQL, you can:

* Connect Python programs to a MySQL database
* Execute SQL statements (SELECT / INSERT / UPDATE / DELETE)
* Fetch and process query results in Python

---

## 2. What Is PyMySQL?

**PyMySQL** is:

* A **MySQL client library written in Python**
* Compatible with Python 3
* Easy to install and suitable for beginners
* Commonly used in scripts, web backends, and data projects

> In short:
> **PyMySQL = Python + MySQL bridge**

---

## 3. Prerequisites

Before learning PyMySQL, you should already know:

* Basic Python syntax (variables, functions, `if`, `for`)
* What a database and table are (conceptually)
* Basic SQL (at least `SELECT`, `INSERT`)

You also need:

* A running **MySQL server**
* A database and a user account

---

## 4. Installing PyMySQL

Use `pip` to install PyMySQL:

```bash
pip install pymysql
```

After installation, you can verify it in Python:

In [1]:
import pymysql
print(pymysql.__version__)

1.4.6

## 5. Basic Workflow of PyMySQL

When using PyMySQL, the typical steps are:

1. Create a database connection
2. Create a cursor object
3. Execute SQL statements
4. Fetch results (if any)
5. Commit changes (for INSERT / UPDATE / DELETE)
6. Close cursor and connection

Keep this workflow in mind — it appears in almost every program.

---

## 6. Connecting to a MySQL Database

### Example: Create a Connection

In [2]:
connection = pymysql.connect(
    host="rm-bp1y7dm47j8h060vy4o.mysql.rds.aliyuncs.com",
    user="hfut22",
    password="123456",
    database="hfut22",
    port = 3307,
    charset="utf8mb4"
)

### Common Parameters Explained

| Parameter  | Meaning                 |
| ---------- | ----------------------- |
| `host`     | Database server address |
| `user`     | MySQL username          |
| `password` | MySQL password          |
| `database` | Database name           |
| `charset`  | Character encoding      |

---

## 7. Creating a Cursor

A **cursor** is used to execute SQL statements.

In [3]:
cursor = connection.cursor()

Think of the cursor as a **tool that sends SQL commands to MySQL**.

---

## 8. Executing a SELECT Query

### Example Table

Assume a table:

```sql
CREATE TABLE student (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(50),
    age INT
);
```

### Query Data

In [4]:
sql = "SELECT id, name, age FROM student"
cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

### Result Format

Each row is returned as a **tuple**:

```text
(1, 'Alice', 20)
(2, 'Bob', 21)
```

---

## 9. Inserting Data into a Table

### Example: INSERT

```python
sql = "INSERT INTO student (name, age) VALUES (%s, %s)"
cursor.execute(sql, ("Tom", 22))

connection.commit()
```

In [5]:
sql = "INSERT INTO student (name, age) VALUES (%s, %s)"
cursor.execute(sql, ("Tom", 22))

connection.commit()


### Important Notes

* Use `%s` as a placeholder (not string formatting)
* Always call `commit()` after modifying data
* This helps prevent SQL injection

---

## 10. Updating and Deleting Data

### UPDATE Example

In [6]:
sql = "UPDATE student SET age = %s WHERE name = %s"
cursor.execute(sql, (23, "Tom"))
connection.commit()

### DELETE Example

In [7]:
sql = "DELETE FROM student WHERE name = %s"
cursor.execute(sql, ("Tom", ))
connection.commit()

## 11. Handling Exceptions (Very Important)

Database operations may fail due to:

* Wrong SQL syntax
* Connection issues
* Constraint violations

Always use `try...except...finally`:

```python
try:
    connection = pymysql.connect(...)
    cursor = connection.cursor()

    sql = "SELECT * FROM student"
    cursor.execute(sql)
    print(cursor.fetchall())

except pymysql.MySQLError as e:
    print("Database error:", e)

finally:
    cursor.close()
    connection.close()
```

## 12. Best Practices for Beginners

* Do **not** hard-code passwords in real projects
* Always close connections
* Use parameterized queries (`%s`)
* Start with simple SQL before complex joins
* Print results to understand returned data structures

---

## 13. Common Beginner Mistakes

| Mistake                         | Explanation               |
| ------------------------------- | ------------------------- |
| Forgetting `commit()`           | Changes won’t be saved    |
| Using string formatting for SQL | Unsafe and error-prone    |
| Not closing connection          | Resource leak             |
| Confusing cursor and connection | They have different roles |

---

## 14. Summary

* PyMySQL allows Python to interact with MySQL
* Core steps: **connect → cursor → execute → fetch/commit → close**
* It is suitable for beginners and widely used
* Understanding PyMySQL is a foundation for web frameworks like Flask and Django

---

## 15. Next Steps

After mastering basics, you can explore:

* Dictionary cursors (`DictCursor`)
* Connection pools
* Using PyMySQL in Flask / Django
* ORM tools such as SQLAlchemy